.table-container {
  margin: 2rem 7rem;
  background: #ffffff;
  padding: 1.8rem 1.2rem;
  border-radius: 0.2rem;
  min-width: 14rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-left: 0;
  border-right: 0;
}

.thead {
  background-color: #f4f5ff;
}

th, td {
  border-bottom: 1px solid #cfdaee;
  padding: 1rem;
  text-align: center;
}

th {
  font-family: OpenSans-SemiBold;
}

td {
  width: 10%;
}

.options-table {
  display: flex;
  justify-content: space-between;
  margin: 4rem 7rem 0;
}

@media (max-width: 575px) {
  .options-table {
    flex-direction: column;
  }
  .new-btn {
    margin-top: 1.7rem;
  }
}

@media (max-width: 768px) {
  .table-container {
    margin: 2rem 4rem;
  }
  .options-table {
    margin: 4rem 4rem 0;
  }
}

.image-table {
  width: 17%;
  height: auto;
  min-width: 3rem;
}

/* Estilo del contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo del contenido del dropdown (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los elementos del dropdown */
.dropdown-content a {
  color: black;
  padding: 0.4rem;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace cuando el ratón está encima */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Muestra el contenido del dropdown cuando se pasa el ratón sobre el botón */
.dropdown:hover .dropdown-content {
  display: block;
}

.table-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.select-info {
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
}

/* Media queries para controlar la visibilidad de las columnas */
@media screen and (max-width: 800px) {
  .lg {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .md {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .sm {
    display: none;
  }
}

.no-results {
  text-align: center;
}

.actions {
  width: 2%;
}

