<!--<label for="id" class="form-label">ID</label>-->
<!--<input type="text" id="id" formControlName="id" class="custom-input" placeholder="Ingrese Id..." [ngClass]="{ 'disabled': action === 'edit' }" (focus)="onFocus('id')" (blur)="onBlur()" [class.is-invalid]="showErrors('id')">-->
<!--<div *ngIf="showErrors('id')">-->
<!--    <div *ngIf="getValueInput('id')?.errors?.['required']" class="invalid-feedback">Este campo es requerido.</div>-->
<!--    <div *ngIf="getValueInput('id')?.errors?.['minlength']" class="invalid-feedback">El Id debe tener al menos 3 caracteres.</div>-->
<!--    <div *ngIf="getValueInput('id')?.errors?.['maxlength']" class="invalid-feedback">El Id no puede tener más de 10 caracteres.</div>-->
<!--</div>-->
